.cardsWrapper {
  display: flex;
  gap: 15px;

  overflow-x: auto;
  overflow-y: hidden;

  padding: 10px;

  scroll-behavior: smooth;
}

.cardsWrapper::-webkit-scrollbar {
  height: 8px;
}

.cardsWrapper::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 10px;
}

.cardContainer {
  background: #1e293b;
  color: white;

  min-width: 250px;
  max-width: 250px;

  padding: 15px;
  border-radius: 10px;

  cursor: pointer;

  transition: 0.2s;

  flex-shrink: 0;
}

.cardContainer:hover {
  transform: scale(1.02);
}

.activeCard {
  border: 2px solid #3b82f6;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nome {
  font-size: 18px;
  font-weight: bold;
}

.symbol {
  color: #cbd5e1;
}

.priceTag {
  font-size: 20px;
  font-weight: bold;
}

.variacao {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .cardContainer {
    min-width: 220px;
    max-width: 220px;
  }
}